In [1]:
#function definition
def pythagoras(base,perpendicular):
    return (base**2 + perpendicular**2)**0.5

In [2]:
# function calling
pythagoras(3,4)

5.0

In [3]:
pythagoras(5,5)

7.0710678118654755

In [4]:
pythagoras(2,2)

2.8284271247461903

In [5]:
pythagoras(3,6)

6.708203932499369

In [6]:
pythagoras(6,6)

8.48528137423857

In [7]:
pythagoras(12,5)

13.0

In [8]:
pythagoras(10,5)

11.180339887498949

In [9]:
pythagoras(perpendicular=5,base=6)

7.810249675906654

lambda expression - for making anonymous function(1 line functions)

In [10]:
f = lambda x : x**2 + 2*x + 1
print(f(2))

9

In [11]:
print(f(7))

64

In [12]:
g = lambda x,y: x**2 + 2*x*y + y**2
print(g(2,3))

25

In [13]:
print(g(6,7))

169

In [14]:

h =lambda p,b: (b**2 + p**2 )**0.5
print(h(3,4))

5.0

In [15]:
# what is the amount after 16% discount on 12000
12000 * (100 - 16)/100

10080.0

In [16]:
12000 * (1 - .16)

10080.0

In [17]:
prices = [10000, 30000, 12999, 50000, 43999, 10500]
n= len(prices)

ans=[]
for i in range(n):
    discount=prices[i]*(1-.16)
    ans.append(discount)

print(ans)

[8400.0, 25200.0, 10919.16, 42000.0, 36959.159999999996, 8820.0]

In [18]:
prices = [10000, 30000, 12999, 50000, 43999, 10500]
for price in prices:
    print(price*(1-.16))

8400.0
25200.0
10919.16
42000.0
36959.159999999996
8820.0

In [19]:
prices = [10000, 30000, 12999, 50000, 43999, 10500]
dis_prices =[]
for price in prices:
    ans=price*(1-.16)
    dis_prices.append(ans)

print(prices)
print(dis_prices)

[10000, 30000, 12999, 50000, 43999, 10500]
[8400.0, 25200.0, 10919.16, 42000.0, 36959.159999999996, 8820.0]

In [20]:
map(lambda p: p* (1-.16), prices)

In [21]:
list(map(lambda p: p* (1-.16), prices))

[8400.0, 25200.0, 10919.16, 42000.0, 36959.159999999996, 8820.0]

In [22]:
dis_price = list(map(lambda p: p* (1-.16), prices))
print(dis_price)

[8400.0, 25200.0, 10919.16, 42000.0, 36959.159999999996, 8820.0]

In [23]:
x = [1,2,3,4,6,3,7,5,8,21]
# generate a list y that contains the square of each element in x

In [29]:
x = [1,2,3,4,6,3,7,5,8,21]
square = list(map (lambda x:x**2,x))
print(square)

[1, 4, 9, 16, 36, 9, 49, 25, 64, 441]

In [32]:
x = [1,2,3,4,6,3,7,5,8,21]
cube = list(map (lambda x:x**3,x))
print(cube)

[1, 8, 27, 64, 216, 27, 343, 125, 512, 9261]

In [11]:
area =lambda  b,h:1/2*b*h
print(area(3,4))

6.0

In [28]:
x=[1,4,6,9]
def total(arr):
    result = 0
    for i in arr:
        result+=i
    return result 

print(total(x))

20