# for and while loops 
### for - step based loop 
### while - condition based loop 
```
i=0
while i< 10:
print(i)
i += 1
```
- used for 
     - iterating untill a condition is met

In [3]:
movies = ['Shrek', 'Kungfu panda','final fantasy',
          'How to train your dragon', 'Ice age',
          'The lion king', 'The little mermaid',
          'the jungle book', 'Aladdin', 'the little prince']

In [4]:
print(f'total movies = {len(movies)}')

total movies = 10

In [5]:
for movie in movies:
    print(movie)

Shrek
Kungfu panda
final fantasy
How to train your dragon
Ice age
The lion king
The little mermaid
the jungle book
Aladdin
the little prince

In [6]:
for movie in movies:
    print(movie,len(movie))

Shrek 5
Kungfu panda 12
final fantasy 13
How to train your dragon 24
Ice age 7
The lion king 13
The little mermaid 18
the jungle book 15
Aladdin 7
the little prince 17

In [11]:
for movie in movies:
    print(f'{movie:45} {len(movie)}')

Shrek                                         5
Kungfu panda                                  12
final fantasy                                 13
How to train your dragon                      24
Ice age                                       7
The lion king                                 13
The little mermaid                            18
the jungle book                               15
Aladdin                                       7
the little prince                             17

In [12]:
nums = [32,33,66,55,88,66,55,99,66]
for i in nums:
    print(i)

32
33
66
55
88
66
55
99
66

In [13]:
nums = [32,33,66,55,88,66,55,99,66]
for i in nums:
    print(i),(i**2)

32 1024
33 1089
66 4356
55 3025
88 7744
66 4356
55 3025
99 9801
66 4356

In [14]:
for i in nums:
    if i % 2 ==0:
      print(i, i**2)

32 1024
66 4356
88 7744
66 4356
66 4356

In [15]:
for i in nums:
    if i % 2 !=0:
      print(i, i**2)

33 1089
55 3025
55 3025
99 9801

In [16]:
sum(nums)

560

In [19]:
total_evens = 0
for i in nums:
    if i % 2 ==0:
      total_evens += i
print(total_evens)

318

In [20]:
total_odds = 0
for i in nums:
    if i % 2 !=0:
      total_odds += i
print(total_odds)

242

In [22]:
for i in nums:
    print(i)
    if i > 70:
        break

32
33
66
55
88

In [24]:
x = ["apple",'potato','banana','','oramge','mango']
for item in x:
    print(item)

apple
potato
banana

oramge
mango

In [25]:
x = ["apple",'potato','banana','','oramge','mango']
for item in x:
    if len(item) == 0:
        break 
    print(item)

apple
potato
banana

In [27]:
errors = 0
while True:
    username = input('Enter username')
    password = input('Enter password')
    if username == 'admin' and password == 'secret':
        print('Login successful')
        break
    elif errors ==3:
        print('Too many errors')
        break
    else:
        print('Invalid username/password')
        errors +=1

Login successful

In [1]:
x = [
    ['warbreaker',4999],
    ['The way of kings',5999],
    ['Words of radiance',5999],
    ['oathbringer',5999],
    ['Rhythm of war',5999],
    
]

In [2]:
for item in x:
    for data in item:
        print(data)
        print('---')

warbreaker
---
4999
---
The way of kings
---
5999
---
Words of radiance
---
5999
---
oathbringer
---
5999
---
Rhythm of war
---
5999
---